<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../partials/navigation.ejs') %>
            <main>
                Something is coming here
            </main>
            <%- include('../partials/end.ejs') %>